<div class="container">
    <p>
        <a href="/artists"><i class="glyphicon glyphicon-chevron-left"></i> Back to Artists</a>
    </p>
    <h1>{{data.artist.name}}</h1>
    {{#if data.artist.image}}
    <img src="{{cloudinaryUrl data.artist.image}}" class="img-responsive">
    {{/if}}

    {{#if data.artist.artistFBPage}}
    <div>
        <a href="{{data.artist.artistFBPage}}">Artist Facebook Page</a>
    </div>
    {{/if}}

    {{#if data.artist.artistWebPage}}
    <div>
        {{data.artist.artistWebPage}}
    </div>
    {{/if}}

    {{#if data.artist.bio}}
    <div>
        {{{data.artist.bio}}}
    </div>
    {{/if}}

</div>
