{{! navbar partial }}
{{> nav-bar }}

<div class="container">
    <div class="text-center">
        <h1>Our Artists</h1>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                {{#each artists}}
                    {{#if image}}
                            <a href="{{artistUrl slug}}"><img src="{{{cloudinaryUrl image crop='fit'}}}"></a>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
