{{> nav-bar}}
<div class="container">
    <div class="text-center">
        <h1>Upcoming Events</h1>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                {{#each events}}
                    {{#if image}}
                            <a href="{{eventUrl slug}}"><img src="{{{cloudinaryUrl image crop='fit'}}}"></a>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
