<div class="container">
    <p>
        <a href="/events"><i class="glyphicon glyphicon-chevron-left"></i> Back to Events</a>
    </p>
    <h1>{{data.event.name}}</h1>
    {{#if data.event.image}}
    <img src="{{cloudinaryUrl data.event.image}}" class="img-responsive">
    {{/if}}
    <div>
        {{data.event.eventDate}}
    </div>
    <div>
        <a href="{{data.event.eventUrl}}">Event Facebook Page</a>
    </div>
    <div>
        {{data.event.venue}}
    </div>
    <div>
        {{data.event.eventCity}}
    </div>
    <div>
        {{{data.event.content}}}
    </div>
</div>
