{{!< default}}


{{> intro }}

<!-- navbar-->
<div class="sticky-wrapper">
	<header class="header">
		<div role="navigation" class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a href="#intro" class="navbar-brand scroll-to"><img src="/images/ps_logo.png" alt="PeopleSources logo"></a>
					<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
						<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
				</div>
				<div id="navigation" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#intro">Home</a></li>
						{{!-- <li><a href="#upcoming">Upcoming Events</a></li> --}}
						<li><a href="#about">About Us</a></li>
						<li><a href="#services">Services</a></li>
						<li><a href="#team">Our Team</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
</div>
<!-- /.navbar-->

{{!-- {{> upcoming }} --}}

{{> about }}

{{> services }}

{{> team }}

{{> contact }}