<div class="container">
    <div class="row">
        {{#each services}}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <img src="{{{cloudinaryUrl image}}}" class="thumbnail">
                <h2>{{ name }}</h2>
                <p>
                    {{{ content }}}
                </p>
            </div>
        {{/each}}
    </div>
</div>
