<style>
	.about-content {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
</style>
<section id="about" name="about">
	<div class="container">
		{{#each about}}
			<h2  class="heading">{{ name }}</h2>
			{{#if image}}
					<img src="{{{ cloudinaryUrl image }}}" class="img-responsive">
			{{/if}}
			<div class="about-content">
					{{{ content }}}
			</div>
			{{/each}}
	</div>
</section>