

<section id="contact">
	<div class="container clearfix">
		<div class="row">
			<div class="col-md-12">
				<h2 class="heading">Contact</h2>
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<form method="post" id="contact-form">
							<input type="hidden" name="action" value="contact">
							<div class="col-sm-12 col-md-4">
								<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
									<label>Name</label>
									<input type="text" name="name.full" class="form-control" value="{{formData.[name.full]}}" required>
								</div>
							</div>
							<div class="col-sm-12 col-md-4">
								<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
									<label>Email</label>
									<input type="email" name="email" class="form-control" value="{{formData.email}}" required>
								</div>
							</div>
							<div class="col-sm-12 col-md-4">
								<div class="form-group">
									<label>Phone</label>
									<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group {{#if validationErrors.subject}}has-error{{/if}}">
									<label>What are you contacting us about?</label>
									<input type="text" name="subject" class="form-control" value="{{formData.subject}}" required>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
									<label>Message</label>
									<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control" required>{{formData.message}}</textarea>
								</div>
							</div>
							<div class="form-actions text-center">
								<button type="submit" class="btn btn-primary">Send</button>
							</div>
						</form>
					</div>
					{{!<div class="col-md-6">
			<p>Effects present letters inquiry no an removed or friends. Desire behind latter me though in. Supposing shameless am he engrossed up additions. My possible peculiar together to. Desire so better am cannot he up before points. Remember mistaken opinions it pleasure of debating. Court front maids forty if aware their at. Chicken use are pressed removed. </p>
			<p>Able an hope of body. Any nay shyness article matters own removal nothing his forming. Gay own additions education satisfied the perpetual. If he cause manor happy. Without farther she exposed saw man led. Along on happy could cease green oh. </p>
			<p class="social"><a href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a><a href="#" title="" class="gplus"><i class="fa fa-google-plus"></i></a><a href="#" title="" class="instagram"><i class="fa fa-instagram"></i></a><a href="#" title="" class="email"><i class="fa fa-envelope"></i></a></p>
        </div>}}
				</div>
			</div>
			<div id="send-message">
				<p>
					Your Message was sent successfully
				</p>
			</div>
			<div id="error-message">
				<p>
					There was an issue sending your message please try again
				</p>
			</div>
		</div>
	</div>
</section>