

<!-- intro-->
<style>
    .intro.image-background {
      background: url('{{{cloudinaryUrl intro.0.backgroundImage}}}') center center no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      -webkit-backface-visibility: hidden;
    }

		.black {
			color: black;
			border-color: black;
		}

		.ua-modify {
			background-color: #ffffffa0;
			color: black;
		}
</style>
<section id="intro" class="intro image-background">
    <div class="overlay"></div>
    <div class="content">
		<div class="container clearfix">
			<div class="row">
				<div class="nav-link-scroll col-md-12 col-sm-12">
					<img src="{{{cloudinaryUrl intro.0.logoImage}}}" alt="peoplesources logo" class="logo">
					<h2 class="content-header">{{intro.0.taglineHeader}}</h2>
					<div class="social">
						{{#each social}}
							<a href="{{link}}">
								<i class="fa {{icon}} fa-3x"></i>
							</a>
						{{/each}}
					</div>
				    <a href="https://www.facebook.com/pg/PeopleSources/events/" class="upcoming-events ua-modify">upcoming events</a>
					<a href="#about" class="icon faa-float animated scroll-to icon-arrow">
						<!--<h4>Find out how</h4>-->
						<span class="bounce-arrow glyphicon glyphicon-chevron-down black"></span>

					</a>

				</div>
			</div>
		</div>
	</div>
</section>