<div data-spy="affix" data-offset-top="120" class="sticky-wrapper">
    <header class="header">
        <div role="navigation" class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"><img src="{{{cloudinaryUrl intro.0.logoImage}}}" alt="peoplesources"></a>
                    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav-link-scroll nav navbar-nav navbar-left">

                    </ul>
                    <ul class="nav-link-scroll nav navbar-nav navbar-right">
                        {{# each navLinks}}
                            <li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
                                <a href="{{ href }}">{{ label }}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>
