
<style>
	.service-row {
		display: flex;
		flex-direction: row;
	}

	@media only screen and (max-width: 735px) {
		.service-row {
			display: flex;
			flex-direction: column;
		}
	}

	.align-stretch {
		align-items: stretch;
		justify-content: space-around;
	}

	.service-box {
		margin: 5px;
		flex: 1;
	}
</style>
<!-- services-->
<section id="services" class="section-gray">
	<div class="container clearfix">
		<div class="row services">
			<div class="col-md-12">
				<h2 class="heading">Services</h2>
				<div class="service-row align-stretch">
                    {{#each services}}
					{{!-- <div class="col-sm-4"> --}}
						<div class="box box-services service-box">
							<div class="icon"><img src="{{{cloudinaryUrl image}}}" alt="{{name}}" class="img-responsive"></div>
							<h4 class="heading">{{name}}</h4>
							<p>{{{content}}}</p>
						</div>
					{{!-- </div> --}}
                    {{/each}}
                </div>
			</div>
		</div>
	</div>
</section>