
<style>
	.circle-image {
		width: 185px;
		height: 185px;
		border-radius: 50%;
		background-size: cover;
		background-position: center;
		margin-left: auto;
		margin-right: auto;
	}

	.team-row {
		display: flex;
		flex-direction: row;
	}

	@media only screen and (max-width: 735px) {
		.team-row {
			display: flex;
			flex-direction: column;
		}
	}

	.align-stretch {
		align-items: stretch;
	}

	.flex-item {
		{{!-- flex: 1; --}}
	}

	.flex-column {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.team_member-meta {
		margin-top: 10px;
	}
</style>
<!-- team-->
<section id="team">
	<div class="container">
		<div class="col-md-12">
			<h2 class="heading">Meet Our team</h2>
			<div class="team-row align-stretch">
				<!-- team-member-->
				{{#each team}}
					<div class="team-member flex-item">
						{{!-- <div class="image"> --}}
							<!--<a href="{{{teamUrl slug}}}">-->
								<div style="background-image: url({{{cloudinaryUrl image}}})" alt="{{name}}" class="circle-image"></div>
							<!--</a>-->
						{{!-- </div> --}}
						<div class="team_member-meta">
							<h3><!--<a href="{{{teamUrl slug}}}">-->{{name}}<!--</a>--></h3>
							{{#each duties}}
								<div class="role">{{this}}</div>
							{{/each}}
						</div>
						<div class="social">
							{{#if fbUrl}}
								<a href="{{{fbUrl}}}" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
							{{/if}}
							{{#if twitterLink}}
								<a href="{{twitterLink}}" class="twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
							{{/if}}
							{{#if email}}
								<a href="mailto://{{email}}" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
							{{/if}}
						</div>

						{{#if bio}}
							<div class="text">
								<p>{{bio}}</p>
							</div>
						{{/if}}
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</section>