
h2 {
	text-transform: uppercase;
}

#header-partial {
	margin-top: 5px;
	padding-top: 3px;
	height: @header-height;
	.transition(all .3s ease-out);

	&.affix {
		margin-top: 0;
		padding-top: 1.5px;
		position: fixed;
	    top: 0;
	    width: 100%;
	    max-width: 100%;
		z-index: 10;
		background-color: white;
		.box-shadow(0 1px 2px #777);
		.transition(all .3s ease-out);
	}

	.logo {
		max-height: @header-height - 3;
	}


	.navbar-default {
		border-style: none;
		background: none;
		height: @header-height;
		margin-bottom: 0;
		line-height: @header-height;
	}

	.navbar-brand,
	.navbar-nav {
		li {
		    line-height: @header-height;
		    height: @header-height - 3;
		    padding-top: 0;
			text-transform: uppercase;
		}

		.active>a, :hover>a {
			color: @nav-active-color;
		    background: none;
		}

		a {

			font-size: @nav-font-size;
			line-height: @header-height;
		    height: @header-height;
		}
		.logo {
			height: @header-height;
		}
	}



	@media @phone {
		.navbar-brand {
			max-width: 60%;
		}
	}

}

.background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
	&>img {
		width: 100;
	}
}
.content-header {
	position: relative;
	margin-top: 10vh;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	font-weight: 500;
	@media @phone {
		font-size: 28px;
	}
}
.cards {
	display: inline-block;
	float: none;
}
.bounce-arrow {
	margin-top: 4vh;
	height: 45px;
	width: 45px;
	padding-top: 2px;
	padding-left: 2.5px;
	text-align: center;
	line-height: inherit;
    border: solid 2px #5091da;
    border-radius: 50%;
}
.upcoming-events {
	.btn;
	.btn-default;
	display: block;
	font-size: 22px;
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
	border-radius: 5px;
	@media @phone {
		margin-top: 4vh;
		font-size: 18px;
	}
}
.social {
	margin-top: 10vh;
	font-size: 22px;
	text-align: center;
	&>i {
		margin-left: 5px;
		margin-right: 5px;
	}
	& .fa-facebook-official {
		color: #3b5998;
	}
	& .fa-snapchat-ghost {
		color: #fffc00;
		text-shadow:
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
	}
	& .fa-instagram {
		color: #125688;
	}
	@media @phone {
		margin-top: 5vh;
		font-size: 18px;
	}
}
.social-logo {

}
.logo-left {
	.social-logo;


}
.logo-right {
	.social-logo;

}
#body {


}

.form-control{
	outline: none;
	&:focus{
		outline-style:none;
		box-shadow:none;
		border-color:transparent;
	}
}

.logo {
	display: block;
	max-width: 100%;
	max-height: 15vh;
	margin-left: auto;
	margin-right: auto;
}

#slider {
	margin-top: 30px;
	li {
			.box-shadow(5px 3px 10px #999);
		}
}

footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}
