// Override Bootstrap variables in this file, e.g.

// Global Variables

@font-size-base: 14px;

// media variables
@phone: ~"only screen and (max-width: 479px)";
@tablet: ~"only screen and (min-width: 768px) and (max-width: 959px)";

//header variables

@header-height: 60px;
@navbar-height: @header-height;
@navbar-padding-vertical: 0;
@navbarBackground: white;
@nav-active-color: #01b1d7;
@nav-font-size: 18px;
